.firstSection {
  margin-bottom: 20px;
}

.firstSection h1 {
  text-align: center;
  margin-bottom: 10px;
}

.refContainer {
  margin-bottom: 15px;
}

.secondSection h3 {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 15px;
}

.secondSection p {
  font-size: 0.8em;
  color: #777777;
}

.dataContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.dataContainer:hover {
  transform: translateY(-5px);
}

.textContainer {
  width: 90%;
  min-height: 100px;
}

.downloadButton {
  margin-left: 10px;
  background-color: #0056b3;
  color: #ffffff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s;
}

.downloadButton:hover {
  background-color: #49c1da;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #49c1da;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.2s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button[hidden] {
  display: none;
}

.pagination span {
  color: #555;
  font-size: 1.1em;
}
