.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #fdfae7;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
  padding: 10px;
}

.link {
  color: #f8f9fa;
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: #49c1da;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
}

.link:hover {
  color: #49c1da;
  background-color: #ffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.active {
  color: #49c1da;
  background-color: #ffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.logo1,
.logo2,
.logo3,
.logo4 {
  width: 5rem;
  height: 50%;
  transition: all 0.3s ease;
}

.logo:hover,
.logo:focus {
  transform: scale(1.1);
}

.logo4 {
  width: 130px;
}

.burgerMenuIcon {
  cursor: pointer;
  position: relative;
}

.menuDropdown {
  cursor: pointer;
  position: relative;
}

.naContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dropdownContent {
  display: flex;
  z-index: 999;
  flex-direction: column;
  position: absolute;
  top: 130%;
  gap: 20px;
  left: 0;
  padding: 30px;
  background-color: #49c1da;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  border-radius: 15px;
}

.menuDropdown:hover .dropdownContent {
  display: flex;
}

@media (max-width: 768px) {
  .logo1,
  .logo4,
  .logo2,
  .logo3 {
    width: 3rem;
    height: 50%;
  }

  .logo2,
  .logo3 {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 1279px) {
  .menuDropdown:hover .dropdownContent,
  .menuDropdown:focus-within .dropdownContent {
    display: flex;
  }
}

.backdrop {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  pointer-events: none;
  visibility: hidden;
  z-index: 998;
  background: rgba(0, 0, 0, 0.1);
}

.activeBackdrop {
  visibility: visible;
}
