.footer {
  padding: 20px;
  background-color: #fdfae7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ddd;
}

.logos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

@media (max-width: 479px) {
  .logos {
    display: none;
  }
}

.logo1,
.logo2 {
  width: 150px;
  height: 100%;
}

.logo1 {
  margin-right: 20px;
}

.logo2 {
  margin-left: 20px;
}

.disclaimer {
  font-size: 0.875em;
  color: #666;
  text-align: center;
  max-width: 800px;
  transition: all 0.3s ease;
  margin: 0 auto;
}

.disclaimer:hover,
.disclaimer:focus {
  transform: scale(1.1);
}
